<!DOCTYPE html>
<html lang="en">
<head>  
    <title>Coding Shala</title>
    <link rel="icon" type="image/jpeg" href="com.jpg">
</head>
<style>  
h1 { 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 100%;
    color:rgb(7, 91, 34);
    font-size: 50px;
    
    }
    </style>
<body style="background-color:rgb(208, 185, 153)">
    <h1>Here we go!</h1>
    <h2 style="color:green;">Choose any language:</h2>
    <a href="/clang.html"><h1 style="background-color: rgb(201, 204, 208);">C-programming</h1></a>
    <a href="/cplus.html"><h1 style="background-color: aqua;">C++ programming</h1></a>
    <a href="/python.html"><h1 style="background-color: rgb(70, 188, 105);">Python</h1></a>
    <a href="/java.html"><h1 style="background-color: rgb(162, 120, 174);">Java</h1></a>
    <a href="/YACHTML.html"><h1 style="background-color: rgb(152, 155, 78);">Html</h1></a>
    

</body>
</html>
